@import url(https://fonts.googleapis.com/css?family=Roboto|Nunito);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Nunito|Lobster);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    background: #2db2f7;
    width: 950px;
    margin: 0 auto;
}

.main_title {
  text-align: center;
  font-size: 4.5em;
  position: relative;
  font-family: 'lobster';
  margin-bottom: 20px;
}

.players {
  float: left;
  width: 250px;
  height: 80px;
  text-align: center;
  font-size: 3em;
  border: 3px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  margin-right: 15px;
  background-color: rgb(22, 22, 45);
  color: #FF5722;
  opacity: 0.85;
}

.score {
  float: left;
  width: 380px;
  height: 80px;
  text-align: center;
  font-size: 3em;
  border: 3px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 5px;
  margin-right: 15px;
  background-color: #FF5722;
  color: rgb(22, 22, 45);
  opacity: 0.85;
}

#scoreOne, #scoreTwo {
    display: inline;
    font-size: 1em;
}

#playTTT {
  width: 320px;
  height: 50px;
  font-size: 25px;
  margin-left: 300px;
  margin-top: 0.5em;
  background-color:rgba(255, 47, 0, 0.91);
  color: white;
  cursor: pointer;
}

input.btn {
  width: 190px;
  height: 140px;
  border-radius: 10%;
  display: flex;
  float: left;
  margin: 0.5em;
  background-color: #f0f0f0;
  color: #FF5722;
  font-size: 3.5em;
  font-weight: bold;
  justify-content: center;
}

input.btn:hover {
  background-color: #9bdaf3;
  cursor: pointer;
}

.buttons {
    margin-left: 100px;
}
